@model BigSchool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="div-middle">
    <div class="formfield">
        @using (Html.BeginForm("Delete", "Courses"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Place)
                @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Place)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Date)
                @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Date)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Time)
                @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Time)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId)
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CategoryId)
            </div>
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        }
    </div>
</div>
